<main>
    <div class="content">
        <!-- Banner -->
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">

                <!-- Banner images -->
                <div class="slide first">
                    <img src="/public/images/mesas02.jpg" alt="Banner">
                    <div class="span-container">
                        <span class="slide-text">COLECCION 2023</span>
                    </div>
                </div>
                <div class="slide">
                    <img src="/public/images/mesasratones.jpg" alt="Banner">
                    <div class="span-container">
                        <span class="slide-text">ENVIOS A TODO EL PAIS</span>
                    </div>
                </div>
                <div class="slide">
                    <img src="/public/images/mesasratones01.jpg" alt="Banner">
                    <div class="span-container">
                        <span class="slide-text">PEDIDOS A ENCARGO</span>
                    </div>
                </div>

                <!-- Manual navigation -->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                </div>
            </div>
        </div>

        <div class="category-rows">
            <div class="block-overlay">
                <img src="/public/images/mesas.jpg" alt="Mesas">
                <a href="#"><h4>Mesas</h4></a>
            </div>
            <div class="block-overlay">
                <img src="/public/images/espejo.jpg" alt="Espejos">
                <a href="#"><h4>Espejos</h4></a>
            </div>
            <div class="block-overlay">
                <img src="/public/images/estantes01.jpg" alt="Estantes">
                <a href="#"><h4>Estantes</h4></a>
            </div>
        </div>
    </div>
</main>