<footer>
    <div class="footer-container">
        <div class="left">
            <div class="logo">
                <p>©2023 <a href="#">TodoFierro Decoraciones</a></p>
            </div>
        </div>
        <div class="right">
            <div class="socials">
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></i></li>
                </ul>
            </div>
            <div class="contact-info">
                <p><i class="fab fa-whatsapp"></i> <a href="tel:01158338131" id="phoneLink">011 5833-8131</a></p>
                <p><i class="far fa-envelope"></i> <a href="mailto:albertoluis196@hotmail.com" id="emailLink">albertoluis196@hotmail.com</a></p>
        </div>
    </div>
</footer>
<script src="/public/scripts/footer.js" defer></script>