<div id="page">
    <div class="site">
        <header>
            <div class="nav-container">
                <div class="content">
                    <div class="left">
                        <a href="#" class="trigger"><i class="fas fa-bars"></i></a>
                        <div class="logo">
                            <h1><a href="/">TodoFierro</a></h1>
                            <h4><div class="subtext"><a href="/">Decoraciones</a></div></h4>
                        </div>
                    </div>
                    <div class="middle">
                        <nav>
                            <ul>
                                <li><a href="/catalogo?category=Todos%20los%20Productos">Productos</a></li>
                                <li><a href="/catalogo">Destacados</a></li>
                                <li><a href="/catalogo">Novedades</a></li>
                                <li><a href="#">Contactanos</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right">
                        <ul>
                            <li><a href="/catalogo"><i class="fas fa-search"></i></a></li>
                            <li><a href="#"><span class="num">0</span><i class="fas fa-shopping-bag"></i></a></li>
                            <li><a href="#"><span class="num">3</span><i class="fas fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-user"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>  
            <nav class="mobile-menu">
                <div class="mini">
                    <a href="#" class="mini-close"><i class="fas fa-times"></i></a>
                    <div class="menu-head">
                        <div class="top">
                            <ul>
                                <li><a href="#"><i class="fas fa-search"></i></a></li>
                                <li><a href="#"><span class="num">0</span><i class="fas fa-shopping-bag"></i></a></li>
                                <li><a href="#"><span class="num">3</span><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-user"></i></a></li>
                            </ul>
                        </div>
                        <div class="logo">
                            <h1><a href="#">TodoFierro</a></h1>
                        </div>
                        <div class="socials">
                            <ul>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></i></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wider">
                    <div class="main-menu">
                        <div class="search">
                            <i class="fas fa-search"></i>
                            <form action="#">
                                <input type="search" placeholder="Buscar Productos">
                            </form>
                        </div>
                        <div class="menu-list">
                            <ul>
                                <li class="has-child">
                                    <a href="#"><span>Productos</span><i class="fas fa-chevron-right"></i></a>
                                    <ul>
                                        <li class="back"><a href="#"><span>Productos</span><i class="fas fa-chevron-left"></i></a></li>
                                        <li><a href="/catalogo?category=Todos%20los%20Productos">Todos los productos</a></li>
                                        <li><a href="/catalogo?name=Sillones&category=Sillones">Sillones</a></li>
                                        <li><a href="/catalogo?name=Mesas&category=Mesas">Mesas</a></li>
                                        <li><a href="/catalogo?name=Espejos&category=Espejos">Espejos</a></li>
                                        <li><a href="/catalogo?name=Estantes&category=Estantes">Estantes</a></li>
                                        <li><a href="/catalogo?name=Otros&category=Otros">Otros</a></li>
                                    </ul>
                                </li>
                                <li><a href="/catalogo"><span>Destacados</span></a></li>
                                <li><a href="/catalogo"><span>Novedades</span></a></li>
                                <li><a href="#"><span>Contactanos</span></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>©2023 <a href="/catalogo">TodoFierro Decoraciones</a></p>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="overlay">
            </div>
        </header>
    </div>
</div>
<script src="/public/scripts/navbar.js" defer></script>